--- yaml
layout: 'default'
title: 'restaurace U Karla IV.'
---

a(id="top")
  h1#header Restaurace U Karla IV.

.row
  .col-md-6

    ul.navbar
      li
        span.glyphicon.glyphicon-time
        |  Pondělí-Sobota: 11:00 - 24:00, Neděle: 11:00 - 22:00
      li
        span.glyphicon.glyphicon-globe
        |  Zenklova 92, Praha 8
      li
        span.glyphicon.glyphicon-earphone
        |  +420 774 588 568
      li
        span.glyphicon.glyphicon-envelope
        |  &nbsp;
        a(href="mailto:obedyukarlaiv@gmai.com") obedyukarlaiv@gmai.com.
      li
        span.glyphicon.glyphicon-check
        |  LCD TV
      li
        span.glyphicon.glyphicon-bullhorn
        |  free wifi

    iframe(src="http://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FRestauraceUKarlaIv&width=400&layout=standard&action=like&show_faces=true&share=true&height=80&appId=123230281145826"
      scrolling="no" frameborder="0" style="border:none; overflow:hidden;height:70px;" allowTransparency="true")


  .col-md-6

    #carousel.carousel.slide(data-ride="carousel")

      ol.carousel-indicators
        li.active(data-target="#carousel", data-slide-to="0")
        li(data-target="#carousel" data-slide-to="1")
        li(data-target="#carousel" data-slide-to="2")
        li(data-target="#carousel" data-slide-to="3")
        li(data-target="#carousel" data-slide-to="4")

      .carousel-inner
        .item.active
          img(src="/img/SAM_0015.JPG" alt="...")
          .carousel-caption
            p Interier

        .item
          img(src="/img/SAM_0018.JPG" alt="...")
          .carousel-caption
            p Bar

        .item
          img(src="/img/SAM_0017.JPG" alt="...")
          .carousel-caption
            p Salonek

        .item
          img(src="/img/zahradka.jpg" alt="...")
          .carousel-caption
            p Letní zahrádka

        .item
          img(src="/img/SAM_0016.JPG" alt="...")
          .carousel-caption
            p Osazenstvo


      a(class="left carousel-control" href="#carousel" data-slide="prev")
        span.glyphicon.glyphicon-chevron-left

      a(class="right carousel-control" href="#carousel" data-slide="next")
        span.glyphicon.glyphicon-chevron-right


a(id="menu")
  h2 Menu
p Z DŮVODU ZACHOVÁNÍ ČERSTVOSTI JSOU JÍDLA DENNĚ DO VYPRODÁNÍ. DĚKUJEME ZA POCHOPENÍ.

#accordion.panel-group
  .panel.panel-default

    .panel-heading
      h4.panel-title
        a(data-toggle="collapse" data-parent="#accordion" href="#collapseOne") Bar menu
    #collapseOne.panel-collapse.collapse
      .panel-body
        ul
          li 100 gr. Domácí tlačenka s octem a cibulí 39,-
          li 100 gr. Gothaj s octem a cibulí 39,-
          li 1 ks. Utopenec 39,-
          li 1 ks. U nás nakládaný hermelín s barevnou cibulí a chilli papričkou 59,-
          li 140 gr. Opečená jemná papriková klobása, křen, hořčice, pečivo 69,-
            | oceněná Čestným Uznáním za potravinářský výrobek Ústeckého kraje
          li 100 gr. Caprese – italský sýr mozzarella, rajčata, panenský olivový olej, balsamico 79,-
          li 130 gr. Topinky kulhavé Olinky – tři topinky s pálivou směsí z mletého masa, 84,-
            | kečupu a kukuřice, sypané sýrem
          li 130 gr. Topinky kamarádky Gábinky –tři topinky,tři sázená vejce se salámem a česnekem 84,-
          li 130 gr. Míchaná vejce s anglickou slaninou, pečivo 45,-
          li 300 gr. Knedlíky s vejci, anglickou slaninou a kyselou okurkou 99,-
          li 100 gr. Smažený sýr, tatarka, obloha 84,-
          li 100 gr. Smažený hermelín, tatarka, obloha 84,-

    .panel-heading
      h4.panel-title
        a(data-toggle="collapse" data-parent="#accordion" href="#collapseTwo") Burgers & Wings
    #collapseTwo.panel-collapse.collapse
      ul
        li 200 gr. Cheeseburger grilované mleté hovězí maso se sýrem, rajčaty, okurkou a listovými saláty, steakové hranolky s majonézou 139,-
        li 200 gr. Lehce pikantní dijónský BeefBurger se slaninou a listovými saláty, steakové hranolky a dijónská majonéza 139,-
        li 500 gr. Bufallo křidélka – ostrá marináda s chilli a česnekem 135,-
        li 500 gr. Carolina křidélka – marinovaná v medu a sladkokyselé omáčce 135,-
        li 500 gr. Zkouřená křidélka – ochucená v BBQ omáčce 135,-
        li 1500 gr. Masakr z Libuše – křidélka dle Vašeho výběru 389,-
          | ke všem křidélkům podáváme mango-chilli dip, česnekovou zakysanku a košík pečiva

    .panel-heading
      h4.panel-title
        a(data-toggle="collapse" data-parent="#accordion" href="#collapseThree") Nové! Bio hovězí z chovu Verneřice
    #collapseThree.panel-collapse.collapse
      ul
        li 200 gr. Bio-hovězí tatarák z roštěné 6ks topinek 185,-
        li 200 gr. Hovězí Rumpsteak z bio-roštěné se sázeným vejcem a šunkou 185,-
        li 200 gr. Hovězí Rumpsteak z bio-roštěné s jemnou smetanovou omáčkou se směsí hub 185,-

    .panel-heading
      h4.panel-title
        a(data-toggle="collapse" data-parent="#accordion" href="#collapsePolevky") Polévky
    #collapsePolevky.panel-collapse.collapse
      ul
        li 0,33cl Polévky dle denní nabídky 39,-
        li 200 gr. Hovězí svíčková na smetaně, brusinky, šlehačka, houskové knedlíky 119,-
        li 200 gr. Hovězí guláš s cibulkou, houskové knedlíky 119,-

    .panel-heading
      h4.panel-title
        a(data-toggle="collapse" data-parent="#accordion" href="#collapseFour") Saláty
    #collapseFour.panel-collapse.collapse
      ul
        li 350 gr. Rondin salát – 129,-
          p rozpečený kozí sýr na variaci listových salátů, malinový dresing, balsamico redukce
        li 350 gr. Florida salát – 129,-
          p kuřecí prsíčka obalovaná v corn-flakes, variace listových salátů, rajčata, paprika, okurka, vejce a americký dresing
        li 350 gr. Provensál salát – grilovaná kuřecí prsíčka na provensálském koření, variace listových salátů, rajčata, paprika, okurka, vejce, kroužky čerstvé cibule, francouzský dresing 129,-
        li 350 gr. Caprese salát – italský sýr mozzarella, variace listových salátu zdobené rajčaty, bazalkové pesto, olivový olej 129,-
        li 250 gr. Rajčatový s červenou cibulkou 45,-
        li 250 gr. Šopský se strouhaným balkánem 45,-
        li 250 gr. Libeňský Coleslaw 35,-

    .panel-heading
      h4.panel-title
        a(data-toggle="collapse" data-parent="#accordion" href="#collapseVepr") Vepřové maso výhradně z české farmy
    #collapseVepr.panel-collapse.collapse
      ul
        li 200 gr. Pfeffer steak ze šťavnaté kotlety se sedmi druhy pepře, obloha 125,-
        li 300 gr. Krkovice marinovaná v černém pivě, hořčice, kozí rohy, červená řepa, 145,-
        li 300 gr. Krkovice peperoncini – ostrý steak, kozí rohy, červená řepa 145,-
        li 200 gr. Restovaná vepřová játra na cibulce, česneku a feferonkách, obloha 125,-
        li 150 gr. Hodo-bóžo – kapsa z bramboráku plněná nudličkami z vepřového masa, žampióny, česnekem, cibulí a rajčatovou omáčkou, obloha 155,-
        li 250 gr. Grizlyho tlapa – smažený vepřový řízek pro otesánky, citrón, obloha 145,-
        li 150 gr. Klasik – smažený vepřový řízek, citrón, obloha 125,-
        li 150 gr. Čuňas – steak s dijonskou omáčkou, anglickou slaninou a čerstvými cibulovými kroužky 125,-
        li 150 gr. Švéd – steak s omáčkou ze smetany, anglické slaniny a červené papriky, obloha 125,-
        li 150 gr. Flákota Joudy Nováka – steak se šunkou a hermelínem, obloha 125,-
        li 150 gr. Mega bodlo – špíz z vepřového masa, slaniny a cibule, sypaný nivou 125,-
        li 150 gr. Ostrý Fanouš – vepřové nudličky, červené fazole, žampiony, kukuřice, chilli-rajčatová omáčka, obloha 125,-

    .panel-heading
      h4.panel-title
        a(data-toggle="collapse" data-parent="#accordion" href="#collapseKure") Kuřecí maso
    #collapseKure.panel-collapse.collapse
      ul
        li 150 gr. Kari kuře - nudličky na cibulce s kari-smetanovou omáčkou 125,-
        li 150 gr. Stripsy smažené v sýrovém těstíčku na variaci listových salátů, dresing 125,-
        li 150 gr. Zlaté kuřátko – smažený kuřecí řízek, citrón, obloha 125,-
        li 150 gr. Kuře Karla IV. – kuřecí prsa zapečená s hermelínem, rajčaty a olivami, obloha 125,-
        li 150 gr. Kuře la Romantika – kuřecí prsa plněná nivou a anglickou slaninou, obloha 125,-
        li 150 gr. Kuře v rozkladu – kuřecí prsa se sýrovou omáčkou a brusinkami, obloha 125,-

    .panel-heading
      h4.panel-title
        a(data-toggle="collapse" data-parent="#accordion" href="#collapseSpag") Špagety a noky
    #collapseSpag.panel-collapse.collapse
      ul
        li 250 gr. Boloňské špagety – kořeněné mleté hovězí maso, tomatová omáčka, sýr 119,-
        li 250 gr. Summer špagety – mozzarella, čerstvá rajčata, bazalka, česnek, olivový olej 119,-
        li 250 gr. Chilli-chilli špagety rajčatová omáčka, anglická slanina, čerstvé žampióny, kukuřice, cibule, bazalka a chilli - POZOR PÁLIVÉ 119,-
        li 250 gr. Noky se smetanovou omáčkou, směsí lesních hub, parmazán 135,-
        li 250 gr. Noky se smetanovou omáčkou, kuřecím masem, špenátem a česnekem 135,-

    .panel-heading
      h4.panel-title
        a(data-toggle="collapse" data-parent="#accordion" href="#collapsePrilohy") Přílohy
    #collapsePrilohy.panel-collapse.collapse
      ul
        li 150 gr. Dušená rýže 26,-
        li 150 gr. Vařené brambory 26,-
        li 150 gr. Steakové hranolky 29,-
        li 150 gr. Americké brambory 29,-
        li 150 gr. Krokety 45,-
        li 150 gr. Domácí bramborák 49,-
        li 150 gr. Šťouchané brambory s máslem, cibulí a anglickou slaninou 39,-
        li Košík pečiva 15,-

      p Samostatné přílohy podáváme za jednotnou cenu 50,-

    .panel-heading
      h4.panel-title
        a(data-toggle="collapse" data-parent="#accordion" href="#collapseDezerty") Dezerty
    #collapseDezerty.panel-collapse.collapse
      ul
        li Sacher dort se šlehačkou 55,-
        li Palačinky s vanilkovou zmrzlinou a horkým lesním ovocem, šlehačka 59,-
        li Zmrzlinový pohár pro dospělé – vanilková zmrzlina, likér rumové pralinky 18%, šlehačka 79,-
        li Velký zmrzlinový pohár – zmrzlina stracciatella, vanilková, mangová, broskve, šlehačka 69,-

    .panel-heading
      h4.panel-title
        a(data-toggle="collapse" data-parent="#accordion" href="#collapseVino") Vinný list
    #collapseVino.panel-collapse.collapse
      h5 Rozlévaná vína z moravského vinařství Réva Rakvice
      ul
        li Müller Thurgau 0,2 l 35,-Kč
        li Veltlínské zelené 0,2 l 35,-Kč
        li Svatovavřinecké 0,2 l 35,-Kč
        li Frankovka 0,2 l 35,-Kč
        li Fragolino – italské jemně perlivé víno s chutí a vůní lesních jahod červené 0,75l 170,-
        li Rulandské bílé – 750ml cena 155,-
          p Ušlechtilé víno se zelenožlutou až zlatavou barvou. Vyšší kyselinka a ovocná, mírně nasládlá chuť jsou typické znaky tohoto vína. Podáváme například k dozlatova upečenému kuřeti.
        li Tramín červený – 750ml cena 155,-
          p Víno s výraznou kořenitou vůní a chutí. Jeho plnost a harmonie chuti ho předurčuje ke specialitám s ovocem, ale i k jemným sýrům.
        li Frankovka – 750ml cena 155,-
          p Mladá vína jsou živá s výraznější tříslovinou, neutrální vůní, ale chuťově bohatá. Při zrání se objeví vůně skořice a ostružin. Hodí se ke zvěřině, ostřejším úpravám vepřového masa a k plísňovým sýrům.
        li Modrý Portugal– 750ml cena 155,-
          p Víno jemné fialkové vůně, v chuti se projevují tóny sušeného ovoce. Jemné lahodné víno. Doporučujeme k pokrmům z vepřového a krůtího masa.
        li Veltlínské zelené 2010 pozdní sběr – 750 ml cena 245,-
          p jemně kořeniné víno s vůní a chutí lipového květu – suché
        li Sauvignon 2012 výběr z hroznů – 750ml cena 245,-
          p příjemné víno vyznačující se chutí peckového ovoce, doprovázenou vůní angreštu a posečených kopřiv - polosladké
        li Svatovavřinecké 2011 pozdní sběr – 750 ml cena 245,-
          p sametové víno temně granátové barvy s ovocnými tóny zralé švestky a višně - suché
        li Chardonnay 2012 pozdní sběr – 750 ml cena 295,-
          p Vinařské Litoměřice stříbrná medajle 2012 - plná ovocně květnatá vůně v chuti navazuje na lískový ořech, v pozadí vystupují ovocné tóny přecházející do manga - polosuché
